header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1816;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}


.left-section{
  font-weight: bold;
  padding-left: 20px;
  color: #C9A961;
}

.middle-section a{
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.3s;

}
.middle-section a:hover{
  color: #C9A961;
}

.right-section{
  padding: 0 20px;
}
.right-section button{
  padding: 10px 20px 10px 20px;
  background-color: #C9A961;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.title-grid{
  font-size: 40px;
}

.container{
  max-width: 1400px;
  margin:0 auto;
  padding: 0 20px;
}

.first-grid{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  margin-bottom: 80px;
}

.text-grid{
  font-size: 20px;
  display: grid;
  grid-template-rows: 1fr 40px;
  row-gap: 20px;
}

.text-grid button{
  background-color: white;
  border:none;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
}

.second-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}

.background-image{
  position: relative;
  background-image: 
  linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
  url('../../public/images/barber-styling-hair-client.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.title-background{
  position: absolute;
  font-weight: bold;
  left: 65%;
  top: 40%;
}

.title-background .button-services{
  width: 50%;
  background-color: transparent;
  border-color: #C9A961;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #C9A961;
  cursor: pointer;
  transform: transform 0.8s ease box-shadow 1.2s ease;
}

.title-background .button-services:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
h1{
  font-size: 50px;
  width: 80%;
  color: white;
}

.buttons-reservation{
  display: flex;
  margin-right: 50px;
  gap: 5px;
  flex-direction: row;
}

.reservation{
  padding: 20px;
  color: black;
  background-color: #C9A961;
  border-radius: 8px;
  border: none;
  width: 50%;
  transform: transform 0.8s ease box-shadow 1.2s ease;
  cursor: pointer;
}

.reservation:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.services{
  background-color: #2A2421;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.services p{
  color: white;
}

.services h2{
  margin: 0;
  margin-bottom: 20px;
  color: rgb(28, 28, 28);
  font-size: 30px;
}

.services-cards{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 150px;
}

.card{
  background: #1A1614;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
  transition:  transform 0.8s ease box-shadow 0.8s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card-image img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.9s ease;
}

.card:hover .card-image img {
    transform: scale(1.1);
}

.card-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-info{
  padding: 20px;
  text-align: left;
}

.card-info p{
  color: rgb(161, 161, 161)
}

.team-section{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
  width: 90%;
}

.team-card{
  border-radius: 8px;
  height: 400px;
  width: 22%;
  position: relative;
  background-image:
  linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
  url('../../public/images/card2.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:  transform 0.8s ease box-shadow 0.8s ease;
}

.team-card:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.text-team{
  text-align: left;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.name{
  font-style: italic;
  font-weight: bold;
  font-size: large;
}
.role{
  color: #C9A961 !important;
}

.pricing-general{
  padding-top: 100px;
  align-items: center;
  text-align: center;
  color: white !important;
  background-color: #1C1816;
}


.pricing{
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.pricing-cards{
  height: 600px;
  border-radius: 8px;
  border-style: solid;
  border-color: #C9A961;
  border-width: 1px;
  width: 30%;
  padding: 20px;
  background-color: #2A2421;
}

.signature{
  background-color: #C9A961;
  color: black;
}

.classic{
  color: white !important;
}

.pricing-text{
  color: #C9A961;
}

.pricing-description{
  color: grey;
}